<a href="https://colab.research.google.com/github/Maruf346/AI-ML-with-python/blob/main/Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Use the dataset and apply all necessary data preprocessing techniques to prepare the dataset for machine learning models. This includes handling missing values, scaling, encoding categorical variables (if any), and any other relevant preprocessing steps.**

In [1]:
# ==============================
# Step 1: Import Libraries
# ==============================
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

# ==============================
# Step 2: Load Dataset
# ==============================
# Upload your dataset in Colab, or directly use the file path if available
df = pd.read_csv("synthetic_employee_data.csv")

# View basic info
print("Dataset Shape:", df.shape)
print("\nPreview of dataset:\n", df.head())
print("\nMissing values count:\n", df.isnull().sum())
print("\nData types:\n", df.dtypes)

# ==============================
# Step 3: Handle Missing Values
# ==============================
# Separate categorical and numerical columns
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
cat_cols = df.select_dtypes(include=['object']).columns

print("\nNumerical columns:", list(num_cols))
print("Categorical columns:", list(cat_cols))

# Imputer for missing values
num_imputer = SimpleImputer(strategy="mean")   # replace missing numerical values with mean
cat_imputer = SimpleImputer(strategy="most_frequent")  # replace missing categorical with most frequent

# ==============================
# Step 4: Encoding Categorical Variables
# ==============================
# We'll use OneHotEncoding for categorical features
# (If you have high-cardinality features, LabelEncoding could also be used)

preprocessor = ColumnTransformer(
    transformers=[
        ("num", num_imputer, num_cols),
        ("cat", Pipeline([
            ("imputer", cat_imputer),
            ("encoder", OneHotEncoder(handle_unknown="ignore"))
        ]), cat_cols)
    ]
)

# ==============================
# Step 5: Scaling Numerical Features
# ==============================
# We'll add StandardScaler for numerical values
pipeline = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("scaler", StandardScaler(with_mean=False)) # with_mean=False because sparse data after OneHot
])

# Apply transformations
processed_array = pipeline.fit_transform(df)

# Convert back to DataFrame with proper feature names
ohe_features = list(pipeline.named_steps["preprocessor"]
                    .named_transformers_["cat"]
                    .named_steps["encoder"].get_feature_names_out(cat_cols))

processed_df = pd.DataFrame(
    processed_array.toarray() if hasattr(processed_array, "toarray") else processed_array,
    columns=list(num_cols) + ohe_features
)

print("\nProcessed Dataset Shape:", processed_df.shape)
print("\nPreview of processed dataset:\n", processed_df.head())

Dataset Shape: (1000, 13)

Preview of dataset:
   Employee_ID Employee_Name    Age      Salary  Years_at_Company  \
0      E00001   Alex Miller  150.0  2000000.00              29.0
1      E00002    Alex Smith  200.0  1500000.00              37.0
2      E00003   Jane Garcia    5.0  1200000.00               3.0
3      E00004   Emily Brown  200.0    23118.19              42.0
4      E00005    Mike Jones  150.0    20852.42              33.0

   Number_of_Projects  Performance_Score  Is_Manager  Works_Remotely  \
0                 2.0                3.0           0             0.0
1                 7.0                3.0           0             0.0
2                 3.0                3.0           0             0.0
3                 7.0                3.0           1             0.0
4                 2.0                5.0           0             0.0

    Department Education_Level Location                   Hire_Date
0    marketing             PHD   AUSTIN  2023-11-02 20:17:14.115619
1  Engineering      Highschool   BOSTON  2024-11-21 20:17:14.115619
2        Sales             PHD   AUSTIN  2022-11-30 20:17:14.115619
3           it      HIGHSCHOOL   Boston  2024-01-04 20:17:14.115619
4    Marketing      HIGHSCHOOL  SEATTLE  2018-05-11 20:17:14.115619

Missing values count:
 Employee_ID            0
Employee_Name          0
Age                   30
Salary                40
Years_at_Company      60
Number_of_Projects    25
Performance_Score     20
Is_Manager             0
Works_Remotely        25
Department            30
Education_Level       25
Location              20
Hire_Date             30
dtype: int64

Data types:
 Employee_ID            object
Employee_Name          object
Age                   float64
Salary                float64
Years_at_Company      float64
Number_of_Projects    float64
Performance_Score     float64
Is_Manager              int64
Works_Remotely        float64
Department             object
Education_Level        object
Location               object
Hire_Date              object
dtype: object

Numerical columns: ['Age', 'Salary', 'Years_at_Company', 'Number_of_Projects', 'Performance_Score', 'Is_Manager', 'Works_Remotely']
Categorical columns: ['Employee_ID', 'Employee_Name', 'Department', 'Education_Level', 'Location', 'Hire_Date']

Processed Dataset Shape: (1000, 1952)

Preview of processed dataset:
          Age     Salary  Years_at_Company  Number_of_Projects  \
0   9.829986  22.953674          7.055649            0.989425
1  13.106648  17.215256          9.002035            3.462987
2   0.327666  13.772204          0.729895            1.484137
3  13.106648   0.265324         10.218526            3.462987
4   9.829986   0.239320          8.028842            0.989425

   Performance_Score  Is_Manager  Works_Remotely  Employee_ID_E00001  \
0           2.706200    0.000000             0.0             31.6386
1           2.706200    0.000000             0.0              0.0000
2           2.706200    0.000000             0.0              0.0000
3           2.706200    2.468188             0.0              0.0000
4           4.510334    0.000000             0.0              0.0000

   Employee_ID_E00002  Employee_ID_E00003  ...  \
0              0.0000              0.0000  ...
1             31.6386              0.0000  ...
2              0.0000             31.6386  ...
3              0.0000              0.0000  ...
4              0.0000              0.0000  ...

   Hire_Date_2025-06-23 20:17:14.115619  Hire_Date_2025-06-25 20:17:14.115619  \
0                                   0.0                                   0.0
1                                   0.0                                   0.0
2                                   0.0                                   0.0
3                                   0.0                                   0.0
4                                   0.0                                   0.0

   Hire_Date_2025-06-28 20:17:14.115619  Hire_Date_2025-07-03 20:17:14.115619  \
0                                   0.0                                   0.0
1                                   0.0                                   0.0
2                                   0.0                                   0.0
3                                   0.0                                   0.0
4                                   0.0                                   0.0

   Hire_Date_2025-07-06 20:17:14.115619  Hire_Date_2025-07-10 20:17:14.115619  \
0                                   0.0                                   0.0
1                                   0.0                                   0.0
2                                   0.0                                   0.0
3                                   0.0                                   0.0
4                                   0.0                                   0.0

   Hire_Date_2025-07-11 20:17:14.115619  Hire_Date_2025-07-16 20:17:14.115619  \
0                                   0.0                                   0.0
1                                   0.0                                   0.0
2                                   0.0                                   0.0
3                                   0.0                                   0.0
4                                   0.0                                   0.0

   Hire_Date_2025-07-20 20:17:14.115619  Hire_Date_2025-07-23 20:17:14.115619
0                                   0.0                                   0.0
1                                   0.0                                   0.0
2                                   0.0                                   0.0
3                                   0.0                                   0.0
4                                   0.0                                   0.0

[5 rows x 1952 columns]